docker-compose.yml
congigmap.yml
secret.yml
flask-app.yml
flask-db.yml
Jenkinsfile
.github/workflows/
.gitignore
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/plan.tfout
terraform/terraform.tfstate
terraform/terraform.tfstate.backup