name: 'Deploy to GKE'

on:
  push:
    branches: [ "main" ]
    paths:
      - "charts/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "charts/**"


jobs:
  setup-build-publish-deploy:
    name: 'Setup, Build, Publish, and Deploy'
    runs-on: 'ubuntu-latest'
    environment: 'production'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0
      
      - name: Configure AWS Credentials # for s3 tf remote state - accessing s3 bucket.
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Install kubectl
        run: |
          curl -LO "https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/
          kubectl version --client
  
      - name: Install Helm
        run: |
          curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
          helm version

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.6.0
        with:
          version: 'latest'
          project_id: ${{ secrets.GCP_PROJECT }}
          credentials: ${{ secrets.GCP_SA_KEY }}

      - name: Install gke-gcloud-auth-plugin
        run: |
          # Install the Google Cloud SDK if it's not already installed
          curl https://sdk.cloud.google.com | bash
          source $HOME/google-cloud-sdk/path.bash.inc
          # Install the plugin using the appropriate command
          gcloud components update
          gcloud components install gke-gcloud-auth-plugin

      - name: Initialize Terraform
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
        run: |
          cd terraform-gcp
          terraform init

      - name: Apply Terraform
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GCP_SA_KEY }}
        run: |
          cd terraform-gcp
          terraform apply -auto-approve

      - name: Authenticate with Google Cloud
        run: |
          echo "${{ secrets.GCP_SA_KEY }}" > /tmp/gcp-key.json
          gcloud auth activate-service-account --key-file=/tmp/gcp-key.json
          gcloud config set project ${{ secrets.GCP_PROJECT }}
        
      - name: Fetch GKE Credentials
        run: |
          gcloud container clusters get-credentials ariel-flask-cluster --zone us-central1-a --project ${{ secrets.GCP_PROJECT }}
        


      - name: delete flask-app from k8s
        run: |
          set -ex
          kubectl delete all --all || true

      - name: Add Helm Repo
        run: |
          helm repo add flask-repo https://helm-flask-star-images.s3.us-east-1.amazonaws.com/charts
          helm repo update


      - name: deploy flask-app to k8s
        run: |
          set -ex
          cd charts
          helm upgrade --install ariel-flask-app flask-repo/flask-app

      

