name: CD with terraform

on:
  workflow_run:
    workflows: ["CI"]  # Name of the CI workflow
    types:
      - completed

jobs:
  build-Test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub # prepares the environment. 
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }} # github secrets
          password: ${{ secrets.DOCKER_PASSWORD }} # github secrets
      
      - name: Set Environment Variables # GITHUB_ENV - just to access them quicker in current job by name only.
        run: |
            echo "IMAGE_NAME=arielk2511/star_meme_sql_compose" >> $GITHUB_ENV
            echo "IMAGE_TAG=1.0.${{ github.run_number }}" >> $GITHUB_ENV
            echo "DB_HOST=${{ vars.DB_HOST }}" >> $GITHUB_ENV
            echo "DB_USER=${{ vars.DB_USER }}" >> $GITHUB_ENV
            echo "DB_NAME=${{ vars.DB_NAME }}" >> $GITHUB_ENV
            echo "FLASK_PORT=${{ vars.FLASK_PORT }}" >> $GITHUB_ENV
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> $GITHUB_ENV
      
      - name: Debug Environment Variables
        run: |
              echo "IMAGE_NAME=${IMAGE_NAME}"
              echo "IMAGE_TAG=${IMAGE_TAG}"

      - name: Build Docker Compose Image
        run: |
            pwd
            ls
            docker build -t ${IMAGE_NAME}:latest .
            docker build -t ${IMAGE_NAME}:${IMAGE_TAG} .
        env:
            IMAGE_NAME: ${{ env.IMAGE_NAME }}
            IMAGE_TAG: ${{ env.IMAGE_TAG }}
  
      - name: Push Docker Image
        run: |
            docker images    
            docker push ${IMAGE_NAME}:${IMAGE_TAG}
            docker push ${IMAGE_NAME}:latest

      - name: Test - Running Project
        run: | # running without pulling because it is already built.
            ls
            docker images
            docker compose up -d
            sleep 1
            docker compose ps
      
      - name: Run Tests
        run: |
            sleep 3
            docker compose logs
            echo "port being tested: ${{ env.FLASK_PORT }}"
            curl -f http://localhost:${{ env.FLASK_PORT }}

  deploy: # using terraform to deploy to aws ec2.
    runs-on: ubuntu-latest
    needs: build-Test # ensures that the build-test job has completed successfully.
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with: 
          terraform_wrapper: false

      - name: Terraform Init
        run: terraform init 

      - name: Configure AWS Credentials # can be used also without built action, but it is recommended.
        uses: aws-actions/configure-aws-credentials@v2 # with aws configure set commands.
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Apply
        run: terraform apply -auto-approve
