name: 'Deploy to GKE'

on:
  workflow_run:
    workflows: ["CI"]  # Name of the CI workflow
    types:
      - completed

jobs:
  setup-build-publish-deploy:
    name: 'Setup, Build, Publish, and Deploy'
    runs-on: 'ubuntu-latest'
    environment: 'production'

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332' # actions/checkout@v4
      
      - name: Install SSH Client
        run: sudo apt-get install -y sshpass

      - name: "ssh to sela's vm"
        env:
          SSH_USERNAME: ${{ secrets.SSH_USERNAME_SELA_K8S }}
          SSH_PASSWORD: ${{ secrets.SSH_PASSWORD_SELA_K8S }}

        run: |
          sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no "$SSH_USERNAME@104.199.106.231" \
            "cd star-image-app && pwd && ls -la && \
             kubectl delete all --all && \
            kubectl delete configmaps flask-config && \
            kubectl delete secrets flask-secrets && \
            kubectl apply -f configmap.yml && \
            kubectl apply -f secret.yml && \
            kubectl apply -f flask-db.yml && \
            kubectl apply -f flask-app.yml && \
            sleep 60 && \
            kubectl delete pods -l app=flask-app"